/* 
decloration block

slector{
    propert: value;
    property2" value;
}
*/

body{
    background-color: rgb(21, 61, 61);
    color: whitesmoke;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 400px;
    
}

h1{
    text-align: center;
}